<footer class="text-center py-4 footer-color" *transloco="let t">
 

  <a href="https://www.facebook.com/share/188M5xSx6a/" target="_blank">
    <img
      src="../../assets/icon/facebook-brands-solid-full.svg"
      alt="Facebook"
      width="24"
      height="24"
    />
  </a>
  <a href="https://www.instagram.com/vicarageliving/" target="_blank">
    <img
      src="../../assets/icon/instagram-brands-solid-full.svg"
      alt="Instagram"
      width="24"
      height="24"
    />
  </a>
  <a href="https://www.youtube.com/@vicarageliving" target="_blank">
    <img
      src="../../assets/icon/youtube-brands-solid-full.svg"
      alt="Youtube"
      width="24"
      height="24"
    />
  </a>

   <p style="margin-top:10px;">&copy; {{ currentYear }} Vicarage Living. {{ t("footer.rights") }}</p>
</footer>
