<footer class="text-center py-4 footer-color" *transloco="let t">
  <p>&copy; {{ currentYear }} Vicarage Living. {{ t("footer.rights") }}</p>

  <a href="http://facebook.com" target="_blank">
    <img
      src="../../assets/icon/facebook-brands-solid-full.svg"
      alt="Facebook"
      width="24"
      height="24"
    />
  </a>
  <a href="http://instagram.com" target="_blank">
    <img
      src="../../assets/icon/instagram-brands-solid-full.svg"
      alt="Instagram"
      width="24"
      height="24"
    />
  </a>
  <a href="http://youtube.com" target="_blank">
    <img
      src="../../assets/icon/youtube-brands-solid-full.svg"
      alt="Youtube"
      width="24"
      height="24"
    />
  </a>
</footer>
