<nav class="navbar navbar-expand-lg mb-3 navbar-color" *transloco="let t">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="'.'">
      <img src="/assets/graphics/VL_Logo_avatar.png" class="logo" />
    </a>

    <button
      class="navbar-toggler button-navbar-toggler"
      type="button"
      (click)="isMenuCollapsed = !isMenuCollapsed"
    >
      {{ isMenuCollapsed ? "&#9776;" : "&#x2715;" }}
    </button>

    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#home">{{ t("navbar.home") }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about" (click)="isMenuCollapsed = true">{{
            t("navbar.about")
          }}</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="#contact"
            (click)="isMenuCollapsed = true"
            >{{ t("navbar.contact") }}</a
          >
        </li>

        <li class="nav-item">
          <div ngbDropdown class="d-inline-block">
            <button
              type="button"
              class="btn btn-outline-primary button-lang"
              id="dropdownBasic1"
              ngbDropdownToggle
            >
              <span
                class="{{
                  currentLanguage() === 'en'
                    ? 'fi fi-gb'
                    : currentLanguage() === 'sv'
                      ? 'fi fi-se'
                      : 'fi fi-dk'
                }}"
              ></span>
            </button>
            <div ngbDropdownMenu>
              <button ngbDropdownItem (click)="switchLanguage('sv')">
                <span class="fi fi-se"> </span
                ><span class="select-item-label">Svenska</span>
              </button>
              <button ngbDropdownItem (click)="switchLanguage('en')">
                <span class="fi fi-gb"> </span
                ><span class="select-item-label">English</span>
              </button>
              <button ngbDropdownItem (click)="switchLanguage('da')">
                <span class="fi fi-dk"> </span
                ><span class="select-item-label">Dansk</span>
              </button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
