/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@use 'bootstrap/scss/bootstrap';


.navbar-color {
    background-color: #749177;
    color: #f9e195 ;   
       color: #283329; 
}



.footer-color {
    background-color: #749177;
    color: #f9e195;
         color: #283329;
}

.select-item-label {
    margin-left: 5px;
}


body {
  font-family: 'Lora', sans-serif;
  color: #3f4a3f;
//   font-size: 16px;                   /* Base font size */
//   line-height: 1.5;                  /* Spacing between lines */
//   color: #333;                       /* Default text color */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif; /* Elegant, slightly formal headings */
  font-weight: 700;
  color: #283329;
  margin-top: 1.2em;
  margin-bottom: 0.6em;
  line-height: 1.3;
}